
body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FFEBC2;
    font-size: 20px;
}

header{
    position: fixed;
    width:100%;
    border-bottom:1px solid #00000026;
    top:0%;
    z-index: 1;
    background-color: #FFEBC255;
    backdrop-filter: blur(20px);

}
.box{
    width:1000px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 200px auto 200px;
    margin: auto;
}
header .box div{
    display: flex;
    align-items: center;
}
header .logo{
    font-weight: bold;
    font-size: xx-large;
    justify-content: left!important;
}
header .menu{
    justify-content: center;
}
header .menu ul{
    padding:0;
    list-style: none;
}
header .menu ul li{
    display: inline-block;
    font-weight: bold;
    margin:0 10px;
}
header .menu ul .active{
    color:#FFAB59;
}

.container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid rgb(126, 39, 39);
    border-radius: 5px;
    animation: slide-in 0.5s ease-out;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.corner-image {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 100px;
    height: auto;
    transition: transform 0.5s ease-out; /* Thêm hiệu ứng di chuyển */
}

.corner-image.moved {
    transform: translateX(100%); /* Di chuyển ảnh khi có class "moved" */
}


.Form__Title { 
    margin-bottom: 16px; 
    font-size: 20px;
    font-family: Montserrat,sans-serif;
    display: flex;
    justify-content: center;
}.Form_header{margin-bottom: 24px;}
.pagecontent{display: flex;justify-content: center;padding: 100px 0px;}
.Form__Legend{display: flex;justify-content: center;
    font-size: inherit;
    font-weight: inherit;
}
.button{display: flex;justify-content: center;width: 428px;}
.Form__Hint{display: flex;justify-content: center;margin-top: 24px;}

.Form__Submit{
background-color: #1c1b1b;
color: aliceblue;
width:428px ;height:50px ;
margin-top: 20px;
padding: 14px 0px;
margin-left: -28px;
}
.Form__Submit:hover{
    color: #1c1b1b;
    background-color: aliceblue;
    border: 1px solid #1c1b1b;
    
    transform-origin: left center;
}
.Text--subdued{
color: #6a6a6a;
font-size: 17px;
}
.Form__Hint a{
    margin-left: 10px;
color: black;
    background-color: transparent;
    text-decoration: none;
    font-size: 17px;
}.Form__Hint a:hover{color: #6d5454;}
.Form__Input{padding: 12px 14px;
width: 400px;height: 30px;
font-size: 18px;
}
.Form_FloatingLabel{
    /* margin-left: -414px; */
    font-size: 18px;
    width: 10px;
}
/* .Form_FloatingLabel:active{
    margin-top: -10px;
} */
.Form__Item{
    border: 1px solid rgb(114, 109, 102);
}



.Form_ItemHelp{
margin-right: 10px;
display: flex;
justify-content: right;
}